name: antiscam

on:
  issue_comment:
    types:
      - created
      - edited

  discussion_comment:
    types:
      - created
      - edited

permissions:
  pull-requests: write
  issues: write

jobs:
  build:
    if: ${{ !github.event.issue.pull_request }}
    name: Antiscam
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: vbaranov/antiscam-action@32838dcb9c37f553ada497b16919772f0639d64c # main
        with:
          token: ${{ github.token }}
        env:
          SCAM_ACTION_WHITELISTED_LOGINS: ${{ vars.SCAM_ACTION_WHITELISTED_LOGINS }}